[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
Environment=NOTMUCH_PROFILE=%i
ExecStart=/usr/bin/mbsync %i
ExecStartPost=/usr/bin/notmuch new --quiet
ExecStartPost=%h/.config/mbsync/notify.py %i

[Install]
WantedBy=default.target
