[Work]

# IMAP
# source            = imaps://<username/email>@<provider>
# source-cred-cmd   = gpg2 --batch -q --decrypt …/account.gpg

# Notmuch
source              = notmuch:///data/mail/<maildir>
maildir-store       = /data/mail/<maildir>
check-mail          = 1m
check-mail-cmd      = systemctl start --user mbsync
multi-file-strategy = act-all

outgoing          = smtps://<username/email><provider>@
outgoing-cred-cmd = gpg2 --batch -q --decrypt …/account.gpg
default           = INBOX
from              = firname lastname <email>
cache-headers     = true
signature-file    = …/email-signature.txt
address-book-cmd  = cat /home/<user>/.cache/maildir-rank-addr/addressbook.tsv | fzf --filter "%s"
copy-to           = Sent
copy-to-replied   = true
postpone          = Drafts
archive           = Archive
