[alias]
	st   = status
	co   = commit
	pu   = push
	re   = reset
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	lo   = log --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
	ch   = checkout

[core]
	editor = vim
[user]
	name = antznin
	email = antonin.godard@telecom-paristech.fr
